.select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.brand-select,
.mark-select,
.sph-select,
.city-select{
    width: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid blue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.brand-select:focus,
.mark-select:focus,
.sph-select:focus,
.city-select:focus{
    outline: none;
}